.exercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
    
}
.exercise-summary{
    background-color: antiquewhite;
}
.heading{
    text-align: center;
    font-size: 40px;
    
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
        
}