.exercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
    
}
.exercise-cart-container{
    background-color: antiquewhite;
    width: 100%;
   
}
.heading{
    text-align: center;
    font-size: 40px;
    
}


.profile {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 10px;

}
.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
        
}
.physical-condition {
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    background-color: white;
    display: flex;
    gap: 40px;
    border-radius: 20px;
}

.calculate-details{
    margin: 10px;
    
}
.calculate-details p{
    background-color: white;
    padding: 20px 0 20px 20px ;
    border-radius: 10px;
}


.activity-button{
    /* margin: 10px 33px; */
    width: 100%;
    padding: 15px;
    background-color: rgb(67, 67, 255);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/*Responsive for Mobile and small devices */


@media only screen and (max-width: 600px){
    .exercise-container {
       display: grid;
       grid-template-columns: 12fr;
       height: 100vh;
       
       /* display: none; */
  }
  .service-container {
            display: grid;
            grid-template-columns: 12fr;
            gap: 45px;
            margin: 100px 50px;
            position: auto ;
            width: 80%;

  }
  .exercise-cart-container {
      background-color: antiquewhite;
      width: 100%;

  }
  
}

@media (min-width: 601px) and (max-width: 1024px) {
            .exercise-container {
                    display: grid;
                   
                    grid-template-columns: 6fr;
                    height: 100vh;
                
                }
            
                .service-container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 90%;
                   
                }
             .exercise-cart-container {
                    background-color: antiquewhite;
                    width: 100%;
                 
           }
        }